<div class="content-body">
  <mat-card>
      <mat-card-content>
          <div class="header">
              <h2>DATA</h2>
          </div>
          <hr>
      </mat-card-content>
      <div class="subsection">
        <div class="section">
          <button mat-raised-button color="primary" (click)="getAuth()">Get Sleep Duration</button>
          <p class="text">Value: {{heartRate}}</p>
          <p class="text">Provider: {{heartRateProvider}}</p>
        </div>
        <div class="section">
          <button mat-raised-button color="primary" (click)="getAuth()">Get Heart Rate</button>
          <p class="text">Value: {{heartRate}}</p>
          <p class="text">Provider: {{heartRateProvider}}</p>
        </div>
        <div class="section">
          <button mat-raised-button color="primary" (click)="getAuth()">Get Weight</button>
          <p class="text">Value: {{heartRate}}</p>
          <p class="text">Provider: {{heartRateProvider}}</p>
        </div>
        <div class="section">
          <button mat-raised-button color="primary" (click)="getAuth()">Get Blood Pressure</button>
          <p class="text">Value: {{heartRate}}</p>
          <p class="text">Provider: {{heartRateProvider}}</p>
        </div>
        <div class="section">
          <button mat-raised-button color="primary" (click)="getAuth()">Get Steps</button>
          <p class="text">Value: {{heartRate}}</p>
          <p class="text">Provider: {{heartRateProvider}}</p>
        </div>
      </div>
  </mat-card>
</div>

